::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $color-first;
}

.App {
  @include mq(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
